<launch>
  <node pkg="aruco_hunter" type="main" name="main" output="screen" >
    <param name="delivery_location_lat" value="35.721058429" />
    <param name="delivery_location_lon" value="-120.76347914" />
    <param name="distance_between_lines" value="10" />
    <param name="radius" value="100" />
  </node>
</launch> 