<?xml version="1.0"?>
<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<!-- <include file="$(find px4)/launch/mavros_posix_sitl.launch"> -->
	<include file="~/catkin_workspaces/catkin_ws/src/Firmware/launch/mavros_posix_sitl.launch">
	</include>

	<!-- Our node to control the drone -->
	<!-- <node pkg="offboard_py" type="offb_node.py" name="offb_node_py" required="true" output="screen" /> -->
        <node pkg="sim03" name="sim03_main_node" type="main" required="true" output="screen" />
</launch>
